body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #004d40;
  color: #fff;
}

.operation-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.operation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  color: #004d40;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.main-nav a,
.logout-button {
  color: #004d40;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.user-icon img {
  height: 50px;
  border-radius: 50%;
}

.operation-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004d40;
}

.operation-content {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-group input[type="radio"] {
  width: auto;
  margin-right: 5px;
}

.operation-details {
  background-color: #fff;
  color: #942323;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  height: auto;
}

button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #218838;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #002d26;
  color: #ffffff;
}
